<%- include header %>
<style>
    .am-list.am-list-border li{
        padding:.5em;
    }
    ul.am-list.am-list-border{
        box-shadow: 0 0 6px rgba(0,0,0,.3);
        border-radius: 4px;
    }
</style>
<div class="am-g am-g-fixed content">
    <ul class="am-list am-list-border">
        <li>
            <a href="http://www.ruanyifeng.com/blog/">阮一峰的网络日志</a>
        </li>
        <li>
            <a href="http://www.williamlong.info/">月光博客</a>
        </li>
        <li>
            <a href="http://www.codeceo.com/">码农网</a>
        </li>
        <li>
            <a href="http://www.xuanfengge.com/">轩枫阁技术博客</a>
        </li>
        <li>
            <a href="http://www.shejidaren.com/">设计达人</a>
        </li>
        <li>
            <a href="http://www.shaoit.com/">殁漂遥</a>
        </li>
    </ul>
</div>
<%- include footer %>